body {
    color: #ffffff;
    background-color: rgb(100, 0, 0);
    font-family: "Comic Neue", "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    image-orientation: cen;
}

.colored-text {
    color: rgb(226, 42, 42);
    border: solid firebrick;
    padding: 10px;
    margin: auto;
    width: 300px;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
  width: 50%;          
}

#large-text {font-size: 40px; color: crimson;}
