body {
    color: #ffffff;
    background-color: rgb(100, 0, 0);
    font-family: "Comic Neue", "Comic Sans MS", "Comic Sans", cursive;
}

.subtitle {
    color: rgb(226, 42, 42);
    border: firebrick;
    padding: 10px;
    margin: 100px;
    width: 300px;
}
#page-title {font-size: 40px; color: crimson;}
